.body img{
    height:150px;
    width: 150px;
    border-radius: 10px;
    margin: 10px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100%;
    color: forestgreen;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px;
    color: #36454f;

}
h1{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color:#e2725b;
}
.odd{
    float: left;
}
.even {
    float:right ;
}
.gen{
    padding-left: 100px;
    padding-right: 100px;
}
.copy{
   text-align: center;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color:peachpuff;
   margin-left: 100px;
   margin-right: 100px;
}
body{
    background-color: #fffdd0;
}
hr{
    margin-left: 100px;
     margin-right: 100px;
}
@media (max-width:768px) {
    .gen{
        padding-left:0px;
        padding-right:0px;
    }
    hr{
        margin-left: 0px; 
        margin-right:0px;
    }
    .copy{
        margin-left: 0px; 
        margin-right:0px;
    }
}